.ibs-ticket {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 20px !important;
    cursor: auto !important;
    min-height: 0 !important;
}

.ibs-ticket .clear {
    clear: both;
}

.ticket-container .oe_fold_column.oe_kanban_record, .ticket-container .oe_view_manager_body {
    display: block !important;
}

.ticket-container .oe_kanban_groups {
    width: 100%;
}

.ticket-container .o_kanban_view {
    display: block !important;
}

.ibs-ticket .profile-pic {
    width: 50px;
    height: 50px;
    padding-right: 20px;
    
}

.ibs-ticket .profile-pic img {
    width: 46px;
    height: 46px;
    padding: 2px;
    border: 1px solid #ccc;
}

.ibs-ticket .response section {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    position: relative;
}

.ibs-ticket .response section.notification {
    background-color: #fffdE6;
}

.ibs-ticket .response section .arrow {
    position: absolute;
    width: 9px;
    height: 12px;
    top: 4px;
    left: -7px;
    background: url(/ibs_helpdesk/static/src/img/arrow.png) top left no-repeat;

}

.ibs-ticket .response .agent {
    float: left;
    padding: 0px;
}

.ibs-ticket .response .body {
    padding: 5px 5px;
}

.ibs-ticket .response .body:after {
    display: block;
    content: " ";
    clear: both;
}

.ibs-ticket .response .body .collapse-quote {
    border: 1px solid #c9caca;
    border-radius: 3px;
    display: inline-block;
    line-height: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 5px;
    color: black;
    text-decoration: none;
}

.ibs-ticket .response .body blockquote {
    font-size: 13px !important;
    display: none;
}

.ibs-ticket .response .body pre {
    white-space: pre-wrap !important; 
}

.ibs-ticket .response .date {
    text-align: right;
    color: #999;
}
