<section class="oe_container">
    <style type="text/css">
        .purple {}
        .description {
            
        }
    </style>
    <h2 class="oe_slogan" style="color: #9c5789;margin-bottom: 20px;">IBS Helpdesk</h2>

    <div class="oe_row oe_spaced">
        <div class="description" style="padding: 20px;box-shadow: inset 0 0 2px #e9e9e9;background-color: #fafafa;">
            <img src="icon.png" alt="" style="width: 100px;float: left; margin-right: 20px;">
            <p>IBS Helpdesk will help you manage your customer support easily and directly from your <span class="odoo">odoo</span> system, integrating seamlessly with its existing resources, such as contacts, employees, orders, etc.</p>
            <div style="clear: both;"></div>
        </div>
    </div>
    
    <br />
    
    <p style="text-align: center; font-size: 20px;"><strong>IBS Helpdesk</strong>, comes in 3 versions, when you install them, you can:</p>
    
    <div class="oe_row oe_spaced" style="text-align: left;">
        <div class="oe_span4 oe_centered">
            <h3  style="text-align: center;">Free</h3>
            
            <ul>
                <li>Set up 1 support email to create tickets automatically.</li>
                <li>Categorize your tickets</li>
                <li>Manage agents and their access rights.</li>
                <li>Setup response deadlines</li>
                <li>Send an automatic response when your customer sends you an email</li>
                <li>Available in English, French, Spanish and German</li>
            </ul>
        </div>

        <div class="oe_span4 oe_centered">
            <h3 style="text-align: center;">Advanced</h3>
            
            <ul>
                <li>Create tickets automatically from incoming emails</li>
                <li>Manage multiple support emails and categories</li>
                <li>Manage multiple automatic responses, per email and category.</li>
                <li>Manage an internal Knowledge Base that can be used by your agents to resolve issues</li>
                <li>Manage predefined responses, to speed up your support process</li>
                <li>Transfer tickets between agents in case you have multi level support</li>
                <li>Send Automatic notifications to your agents when tickets are overdue</li>
                <li>Attach files to your support responses</li>
                <li>Assign tickets automatically to agents, depending on their availability and workload</li>
                <li>Detect the customer automatically upon the receipt of a new ticket</li>
                <li>Set up a signature for each agent</li>
                <li>Get an overview of your current tickets through the Tray icon</li>
                <li>Detailed reporting to evaluate your team's performance</li>
            </ul>
        </div>

        <div class="oe_span4 oe_centered">
            <h3 style="text-align: center;">Premium</h3>

            <ul>
                <li>Have access to a dashboard that shows you new incoming tickets as well as open tickets</li>
                <li>Add internal notes to your tickets</li>
                <li>Access your customer's tickets directly from their profiles</li>
                <li>Have more advanced reporting</li>
                <li>Add Cc and Bcc emails when tou're sending responses</li>
                <li>Send new ticket notifications to your agents automatically.</li>
                <li>Get desktop notifications when receiving new tickets</li>
                <li>Setup a global Bcc to receive all incoming tickets which is helpful for monitoring</li>
                <li>Provide justifications when resolving, transfering or reopning tickets</li>
                <li>Link tickets to project tasks</li>
                <li>Link tickets with products</li>
                <li>Link tickets with sales and purchase orders</li>
                <li>Manage multiple signatures for each agent</li>
                <li>Add emails to a blacklist, to fight spam and undesired incoming emails</li>
                <li>Print specific responses to a PDF file.</li>
                <li>Merge multiple tickets into a single one.</li>
            </ul>
        </div>
    </div>

    <div class="oe_row oe_spaced">
        <div class="oe_span4" style="text-align: center;">
            <div  style="border: 1px solid #e9e9e9;padding: 20px">
                <img src="community.png" />

                <h3 style="color: #9c5789;margin-top: 20px;">COMMUNITY EDITION</h3>

                <h2 style="color: #9c5789;margin: 20px 0px;font-size: 60px;font-weight: normal;">FREE</h2>

                <a href="http://www.odoo.ma/mods/helpdesk" style="color: white;font-weight: bold;display: block;background-color: #9c5789;padding: 10px;width: 150px;margin: 0px auto;border-radius: 4px;">GET IT NOW</a>
            </div>
        </div>

        <div class="oe_span4" style="text-align: center;">
            <div  style="border: 1px solid #e9e9e9;padding: 20px">
                <img src="advanced.png" />

                <h3 style="color: #9c5789;margin: 20px 0px;">ADVANCED</h3>

                <h3>+</h3>

                <p style="margin-bottom: 40px;">Community Edition Features</p>

                <a href="http://www.odoo.ma/mods/helpdesk" style="color: white;font-weight: bold;display: block;background-color: #9c5789;padding: 10px;width: 150px;margin: 0px auto;border-radius: 4px;">GET IT NOW</a>
            </div>
        </div>

        <div class="oe_span4" style="text-align: center;">
            <div  style="border: 1px solid #e9e9e9;padding: 20px">
                <img src="premium.png" />

                <h3 style="color: #9c5789;margin: 20px 0px;">PREMIUM</h3>

                <h3>+</h3>

                <p style="margin-bottom: 40px;">Advanced Edition Features</p>

                <a href="http://www.odoo.ma/mods/helpdesk" style="color: white;font-weight: bold;display: block;background-color: #9c5789;padding: 10px;width: 150px;margin: 0px auto;border-radius: 4px;">GET IT NOW</a>
            </div>
        </div>
    </div>

    <h2 class="oe_slogan" style="color: #9c5789;margin-bottom: 20px;">Extra Features &amp; Support</h2>

    <p style="text-align: center;">If you have questions, need help or want to add more features to this module, you can <a href="http://www.odoo.ma/contact"><b>contact us</b></a></p>
</section>
